<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bottle.wvapp">

    <dist:module dist:instant="true" /> <!-- 网络连接 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络状态查看 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问无线状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- sdk30 android11 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- 挂载SD卡 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <!-- 读取文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取通讯录 -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/> -->
    <!-- 获取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取手机设置 -->
    <uses-permission android:name="android.permission.READ_SETTINGS" /> <!-- 写入手机设置 -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- 拨号 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 请求安装包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 在安卓8.0以后添加了前台所需要的权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 微信支付 ANDROID 11 兼容微信 -->
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".app.WebApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="${app_icon}"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="m">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- 启动 -->
        <activity
            android:name=".activitys.NativeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 子页面 -->
        <activity
            android:name=".activitys.WebActivity"
            android:exported="true"
            android:process=":sub"
            android:theme="@style/WebTheme" /> <!-- IM后台服务 -->
        <service
            android:name=".services.IMService"
            android:enabled="true"
            android:exported="false"
            android:process=":im" />
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:taskAffinity="com.bottle.wvapp"
           />

        <!-- 银企通建行快贷支付 -->
        <activity
            android:name=".yqtccb.CCBYQTPayEntryActivity"
            android:exported="true">
            <intent-filter>
                <!-- URL Scheme <scheme>://<host>:<port>/<path>?<query> -->
                <data
                    android:host="wvapp_ccb_yqt"
                    android:path="/return"
                    android:port="10000"
                    android:scheme="onekdrug" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>

</manifest>